.nav {
    grid-area: n;
    background-color: aquamarine;
}

.item a {
    color: blueviolet;
    text-decoration: none;
}

.item a.active{
    color: cornflowerblue;
}

/*.item.active {*/
/*    color: blue;*/
/*}*/