.dialogs {
    display: grid;
    grid-template-columns: 2fr 10fr;
}

.dialogsItems {
    padding: 10px;
}

.dialogsItems .active {
    color: blue;
}

.messages {
    padding: 10px;
}

.message {

}

.errorText {
    border-color: red;
}

.errorMessage {
    color: red;
}